.gitignore
build
.cache
.clang-format
.clang-tidy
.pre-commit-config.yaml
tests/makecrlf.py
build-release/
build-perf/
build_perf/
tests/data/hits_sample.csv
glog/
.DS_Store
bench_read_columns.csv
benchmarks/
documents/architecture.pdf
documents/bzn-format.pdf
documents/coursework.aux
documents/coursework.bbl
documents/coursework.bbl-SAVE-ERROR
documents/coursework.bcf
documents/coursework.fdb_latexmk
documents/coursework.fls
documents/coursework.log
documents/coursework.run.xml
documents/coursework.synctex.gz
documents/coursework.toc
documents/expression-ast.pdf
documents/query-plan.pdf
documents/repo.txt
